{% extends "base_elements.html" %}
{% block maincontent %}

<div id="maincontent">

<h1>IPBucket</h1>

<br><i>Copyright &copy; 2015</i>
<br><br>Project homepage: <a href="https://github.com/erikruiter2/ipbucket" target="_blank">github.com/erikruiter2/ipbucket</a><br>
<br><div id="check_update" style="display:none"></div><br><b>Developed by:</b>
<br>Erik Ruiter
<br><br><b>License:</b>
<br>This software is distributed under the <a href="http://www.opensource.org/licenses/gpl-2.0.php" target="_blank">
GNU General Public License (GPL)</a>.
<br><br><b>Disclaimer of warranty:</b>
<br>ipbucket is provided as is with NO WARRANTY OF ANY KIND, including the warranty
<br>of design, merchantability, and fitness for a particular purpose.
        <br><br><b>Powered by:</b><br><br>
<div style="vertical-align:middle">
 <br><br>
 <a href="http://www.jquery.org" target=_blank>
 <img src="img/logo/jquery_logo.gif" style="vertical-align:middle;margin-left:10px" alt="jquery_logo"></a>
 <a href="http://github.com/sara-nl" target=_blank>
 <img src="img/logo/github_logo.gif" style="vertical-align:middle;margin-left:20px" alt="github_logo"></a>
 <a href="http://flask.pocoo.org/" target=_blank>
 <img src="img/logo/flask.png" width="140px" height="60px" style="vertical-align:middle;margin-left:20px" alt="Flask-logo"></a>
</div>
{% endblock %}
